.top-nav-wrapper{
    display:flex;
    flex-direction:row;
    position:fixed;
    width:100%;
    height:50px;
    background-color:rgb(0, 0, 0,0.5);
    z-index:1;
}
.top-nav-wrapper a{
    text-decoration:none;
    color:rgb(153, 9, 9);
    font-weight:bold;
}
.left-side{
    padding:10px;
    margin-left: 23%;
    align-items: center;
    justify-content: space-between !important;
}
.left-side a{
    color:white;
    background-color:transparent;
    letter-spacing: 2px;
    padding:3px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    margin-left:30px;
    
}
.left-side a:hover{
    color:rgb(91, 206, 91);
    background-color:white;
    border-radius: 10px;
    padding:3px;
}
.logo-wrapper{
    width: 150px;
    height: 150px;
    background:url(file:///home/nimrod/react%20applications/portfolio2.0/codewithnimrod/src/images/logo.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    margin-top:3rem;
    z-index: -1;
    position:absolute;
    animation:rotate  5s infinite linear;
    background-color:blue;
    border-radius:50%;
    opacity:0.8;
}
.right-side{
    margin-left:40%;
    align-items: center;
    padding: 10px;
}
.right-side a{
    color:rgb(6, 134, 6,0.5);
}
.sections-wrapper section{
    width:100%;
    height:100vh;
    background-color:black 0.5;
    border-color: 2px solid black;
    position: relative;
}
#home>.container{
    align-items: center;
    width:100%;
    height:fit-content;
    position:relative;
    top:9rem;
}
#home>.container>.title-wrapper{
    line-height: 3rem;
}
.home-buttons-wrapper a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.title-wrapper>.title{
    font-weight:bold;
    font-size:50px;
    letter-spacing: 2px;
}
.title-wrapper>.title-2{
    color:rgb(91, 206, 91);
}
.site-info>p{
    font-size:16px;
}
.home-buttons-wrapper>.contact-me{
    margin-left: 20px;
    
}
.background-wrapper{
    background:linear-gradient(to left,white,rgb(91,206,91,0.9));
    width: 500px;
    height: 500px;
    z-index:-1;
    position:absolute;
    border-radius: 50%;
    margin-left:50px;
}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(359deg);
    }
}
/*
@keyframes ChangeColor{
    from{
        background-color:rgba(163, 162, 243, 0.9);
    }
    to{
        background-color:rgba(243, 162, 162, 0.9);
    }
 }
*/
#tutorials>.container{
    top:9rem;
    width:100%;
    height: fit-content;
    position: relative;
}
#tutorials>.container>.row-1{
    margin-top:3rem;
    font-weight:bold;
    font-size:40px;
    letter-spacing: 2px;
    text-decoration:underline;
    border-radius:50%;
    width:fit-content;
}
.row_2{
    width: 100%;
    height:100%;
    justify-content:space-between;
}
.row_2>.col{
    background-color:rgb(162, 243, 162,0.5);
    border:1px solid black;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0,0.5);
    margin-left:10px;
    height:fit-content;
    border-bottom:none;
}
.menu{
    display:flex;
    flex-direction: column;
    width:100%;
    height:50%;
    justify-content: center;
    align-items:center;
    background:linear-gradient(to left, white,white);
    border-radius:10px;
    line-height: 1rem;
    }
.menu>a{
    text-decoration:underline;
    color:rgba(72, 72, 221, 0.8);
    font-weight:bold;
    padding:10px;
    letter-spacing: 2px;
    transition:0.5s ease;
    transition-property: font-size;
}
.menu>a:hover{
    font-size:19px;
}
#about>.container{
    top:8rem;
    width:100%;
    height: fit-content;
    position: relative;
}
#about .row>h5{
    margin-bottom:3rem;
    text-transform: uppercase;
    font-weight:bold;
}
.image-column{
    width:100%;
    height:200px;
    border-radius: 50%;
}
.image-column>img{
    width:40%;
    height:100%;
    border-radius: 50%;
}
.footer-wrapper{
    width:100%;
    height:100%;
}
.phone-wrapper{
    display:flex;
    flex-direction:column;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    background-color: rgb(162, 243, 162,0.5);
    border-radius: 10px;
}
.form-wrapper>form{
    padding:10px;
    background:linear-gradient(to left,white,grey) ;
    border-radius: 10px;
}
.form-wrapper>form>.form-control{
    margin-top:2rem;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid black;
    border-radius:none;
    margin-bottom:2rem;
}
textarea{
    width:100%;
    height:200px;
    border:1px solid black;
}