.top-nav-wrapper{
    display:flex;
    flex-direction:row;
    position:fixed;
    width:100%;
    height:50px;
    background-color:rgb(0, 0, 0,0.8);
    z-index:1;
}
.top-nav-wrapper a{
    text-decoration:none;
    color:rgb(153, 9, 9);
    font-weight:bold;
}
.left-side{
    padding:10px;
    margin-left: 23%;
    align-items: center;
    justify-content: space-between !important;
}
.left-side a{
    color:white;
    background-color:transparent;
    letter-spacing: 2px;
    padding:3px;
    border-radius: 10px;
    transition: background-color,font-size 0.5s ease;
    margin-left:30px;
    
}
.left-side a:hover{
    color:rgb(91, 206, 91);
    background-color:white;
    font-size:20px;
    border-radius: 10px;
    padding:3px;
}
.logo-wrapper{
    width: fit-content;
    height: fit-content;
    margin-top:3rem;
    z-index: -1;
    position:absolute;
    animation:rotate  5s infinite linear;
    border-radius:50%;
    border:5px solid black;
    opacity:0.8;
}
.logo-wrapper>img{
    width: 150px;
    height: 150px;
    border-radius:50%;
}

.sections-wrapper section{
    width:100%;
    height:100vh;
    background-color:black 0.5;
    border-color: 2px solid black;
    position: relative;
}
#home>.container{
    align-items: center;
    width:100%;
    height:fit-content;
    position:relative;
    top:9rem;
}
#home>.container>.title-wrapper{
    line-height: 3rem;
}
.home-buttons-wrapper a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.title-wrapper>.title{
    font-weight:bold;
    font-size:50px;
    letter-spacing: 2px;
}
.title-wrapper>.title-2{
    color:rgb(91, 206, 91);
}
.site-info>p{
    font-size:16px;
}
.home-buttons-wrapper>.contact-me{
    margin-left: 20px;
    
}
.background-wrapper{
    background:linear-gradient(to left,white,rgb(91,206,91,0.9));
    width: 500px;
    height: 500px;
    z-index:-1;
    position:absolute;
    border-radius: 50%;
    margin-left:50px;
}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(359deg);
    }
}
/*
@keyframes ChangeColor{
    from{
        background-color:rgba(163, 162, 243, 0.9);
    }
    to{
        background-color:rgba(243, 162, 162, 0.9);
    }
 }
*/
#tutorials>.container{
    top:9rem;
    width:100%;
    height: fit-content;
    position: relative;
}
#tutorials>.container>.row-1{
    margin-top:3rem;
    font-weight:bold;
    font-size:40px;
    letter-spacing: 2px;
    text-decoration:underline;
    border-radius:50%;
    width:fit-content;
}
.row_2{
    width: 100%;
    height:300px;
    justify-content:space-between;
}
.row_2>.col{
    background-color:rgb(162, 243, 162,0.5);
    border:1px solid black;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0,0.5);
    margin-left:10px;
    height:100%;
    display:block;
}
.row_2>.col>a{
    display:block;
    border:1px solid black !important;
    text-decoration:none;
    background-color: white;
    padding:10px;
    margin-top:4px;
    transition: font-size 1s ease;
}
.row_2>.col>a:hover{
    background-color:grey;
    font-size:20px;
}
#about>.container{
    top:8rem;
    width:100%;
    height: fit-content;
    position: relative;
}
#about .row>h5{
    margin-bottom:3rem;
    text-transform: uppercase;
    font-weight:bold;
}
.image-column{
    width:100%;
    height:200px;
    border-radius: 50%;
}
.image-column>img{
    width:40%;
    height:100%;
    border-radius: 50%;
}
.footer-wrapper{
    width:100%;
    height:100%;
}
.phone-wrapper{
    display:flex;
    flex-direction:column;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    background-color: rgb(162, 243, 162,0.5);
    border-radius: 10px;
}
.form-wrapper>form{
    padding:10px;
    background:linear-gradient(to left,white,grey) ;
    border-radius: 10px;
}
.form-wrapper>form>.form-control{
    margin-top:2rem;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid black;
    border-radius:none;
    margin-bottom:2rem;
}
textarea{
    width:100%;
    height:200px;
    border:1px solid black;
}
#close #open{
    display:none;
}

/* styling on screens with width smaller than 960px*/
@media(max-width:960px){
    .top-nav-wrapper{
        display:block;
        align-items:center;
        margin-left:0;
        width :0;
        height:100vh;
        position:fixed;
        background-color:rgb(0, 0, 0,0.8);
        z-index:1;
        transition:width 1s ease;
    }
    #home>.container{
        top:4rem;
    }
    #tutorials>.container{
        top:1rem;
    }
    #tutorials>.container>.row-1{
        margin-top:0;
        font-weight:bold;
        font-size:30px;
    }
    #about>.container{
        top:1rem;
    }
    .left-side{
        margin-left:0;
        padding:0;
        margin-top:40%;
        display:flex;
        flex-direction:column;
        width:100%;
        height:fit-content;
    }
    .left-side>a{
        margin-top:40px;
        padding:0;
        margin-left:0;
    }
    .row_2{
        height:fit-content;
        display:block;
    }
    .row_2>.col{
        margin-bottom:10px;
    }
    #open{
        position:fixed;
        left: 80%;
        z-index:1;
        width:fit-content;
        height:fit-content;
        border:1px solid black;
        transition:transform 1s ease;
    }
    #open:hover{
        transform:rotate(90deg);
        cursor:pointer;
    }
    .nav_btn{
        width:fit-content;
        margin-top: 20px;
        margin-left:5px;
        padding:0;
        color:white;
        font-weight:bold;
        height:fit-content;
    }
    .nav_btn:hover{
        cursor:pointer;
    }
    .background-wrapper{
        width: 200px;
        height:200px;
        margin-left:3px;
    }
    .home-buttons-wrapper > button{
        font-size:13px;
        width:fit-content;
        
    }
    .title-wrapper>.title{
        font-size:30px;
    }
    .site-info>p{
        font-size:14px;
    }
    #about>.container{
        top:2rem;
    }
    #about .row>h5{
        margin-bottom:2rem;
    }
    .image-column{
        height:80px;
    }
    .image-column>img{
        width:40%;
        height:90%;
    }
    #row2{
        display:flex;
        flex-direction:column;
    }
    .info-column>p{
        font-size: 14px;
    }
}